html, body, h1, h2 {

  height:100%;
  min-height:100%;
  width:100%;
  max-width:100%;
}

body {
  font-size:15px !important;
}

h2 {
  text-align:left;
}

.play-3 {
  max-width:1200px;
  margin:0px auto;
}

.introduction {

  max-width: 800px;
  margin:30px auto;
  text-align: left;
  position:relative;
  padding: 30px 30px 80px;

  li {
    margin-left: 30px;
  }

}

.title-container {
  background:#eee !important;
  position:relative;
}
.column-headers {
  background:#eee !important;
  position:relative;
  padding-top:10px;
  padding-bottom: 10px;
}
.section-container {
  border:solid 1px black;
  //min-height:470px;
  padding-top:10px;
}
.result-container {

    text-align:center;

  .draw-results {
    max-width:600px !important;
    margin:0px auto;
    border:solid 1px #555;
    padding:14px;

    .columns {
      text-align:left;
      min-height:20px;
    }
  }
}
.play-types {
  text-align: left;
}

.panel-button {
  display: inline-block;
  line-height: 40px;
  margin: 4px 2px;
  text-align: center;
  font-weight: bold;
  color: #000;
  background: #FFF;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  width: 40px;
  border:solid 1px #000;
 // background: url('/images/test_svg.svg') !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

.panel-button span {
  display: block;
}

.panel-button.active {
  background: #000;
  color: #fff;
}

.button-panel {
  -webkit-perspective: 1000px;
  //-webkit-transform-style: preserve-3d;
  box-sizing: border-box;
  width:250px;
    margin:0px auto;
}
.new_row {
  text-align:left;
  width:100%;
}
.selected_numbers {

  min-height: 35px;
  width: 38%;
  padding-top: 3px;
  text-align: center;
  background: #fff;
  font-size: 16px;
  display:inline-block;
  overflow:hidden;
  position:relative;
  border:solid 1px #000;
  margin:0px;
}
.selected_playtype {
  min-height: 35px;
  width: 58%;
  padding-top: 3px;
  text-align: left;
  text-indent: 8px;
  background: #fff url(../images/select-arrow.png) no-repeat 95% 12px;
  font-size: 14px;
  display:inline-block;
  overflow:hidden;
  position:relative;
  border:solid 1px #000;
  margin:0px;
  line-height:28px;
  cursor:pointer;
}
.need-numbers-first {
  text-indent: 38px;
  background: #fff url(../images/left_select_arrow.png) no-repeat 5% 12px;
}



.selected-number {
  float: left;
  width: 33.3%;
  line-height: 25px;
  height:25px;
  margin: 0px 0px;
  -webkit-transform: translate3d( 0px, -60px, 0px );
  -moz-transform:    translate3d( 0px, -60px, 0px );
}
.ticket-number {
  float: left !important;
  width: 25px;
  line-height: 25px;
  height:25px;
  margin: 0px 0px;
}
.ticket-number div {
  
  width: 90%;
  border:solid 1px black;
  text-indent:-2px;
}
.number-window-1 {
  
  position:absolute;
  left: 2%;
  top:3px;
  height:25px;
  width: 33.3%;
}
.number-window-2 {
  
  position:absolute;
  left: 35%;
  top:3px;
  height:25px;
  width: 33.3%;
}
.number-window-3 {
  
  position:absolute;
  left: 67%;
  top:3px;
  height:25px;
  width: 33.3%;
}
.number-window-inner {
  
  width:90%;
  height:25px;
  border:solid 1px black;
}

.header {
  position:relative;
  border-bottom:solid 1px black;
  padding-bottom: 10px;
}

.container {
  width: 650px;
  height: 340px;
  position: relative;
  margin: 100px auto 40px;
  border: 1px solid #CCC;
  // -webkit-perspective: 1100px;
  // -moz-perspective: 1100px;
  // -o-perspective: 1100px;
  // -ms-perspective: 1100px;
  // perspective: 1100px;
}

#controls {
  position: absolute;
  bottom: -150px;
}
.instructions {

  margin-top:10px;
  margin-bottom:10px;
  min-height:200px;
  box-sizing: border-box;
  position:relative;

  li {
    margin-left: 30px;
  }

}

.blur-overlay {
  position:absolute;
  top:-10px;
  width:100%;
  height:100%;
  background:rgba( 255,255,255, 0.5 );
  text-align:center;
  z-index:1000;
}
.select-three-message {
  border:solid 1px black;
  margin:150px auto;
  padding:20px;
  width:250px;
  background:white;
  background: #fff url(../images/left_select_arrow.png) no-repeat 5% 48%;
}

.game-container {
  //background:#ccc;
  position:relative;
  margin-top:10px;
  padding-top:15px;
  padding-bottom:15px;
  overflow: hidden;
}
.section {
  //border:solid 1px red !important;
  //margin-top:15px;
  //margin-bottom: 15px;
}

.instructions-button {

  position:absolute;
  right:5px;
  top:5px;
  display:none !important;
}
.odds-column {
  min-width: 80px;
}

.title-box {

    font-size: 20px;
    height:40px;
    padding-top:8px;
    text-align:left;
    text-indent: 20px;
  }
.ticket {
  position:relative;
  padding-bottom: 10px;
  //min-height:300px;
  //border:solid 1px black;
}
.ticket-header {
  position:relative;
  margin-bottom:4px !important;
}
.ticket-row {
  position:relative;
  height:30px;
  line-height:30px;
  box-sizing : border-box;
  overflow:hidden;
  margin-top:4px !important;
}

.ticket-row .columns {
  height:20px;
/*
  -webkit-animation: slideIn 0.4s;
  -webkit-animation-fill-mode: forwards;

  -moz-animation: slideIn 0.4s;
  -moz-animation-fill-mode: forwards;

  */
}
.ticket-row .columns:first-child {
  text-indent: 10px;
}

@-webkit-keyframes slideIn {

  0% {
    // opacity:0.5;
    margin-top:-100px;
  }

  100% {
    // opacity: 1;
    margin-top: 0px;
  }
}

@-moz-keyframes slideIn {

  0% {
    // opacity:0.5;
    -moz-transform: translateY( 100px );
  }

  100% {
    // opacity: 1;
    -webkit-transform: translateY( 0px );
  }
}


.final-ticket-row {
  line-height:20px;
  height:30px;
  padding-left:25px;
  background:#FFF;
  padding-left:0px !important;
  margin-right:0px !important;
  padding-right:0px !important;
  width: 100% !important;
}
.disabled, .notready {

  opacity: 0.6;
}

.notready, .notready * {
  cursor:default !important;
}

button, button:hover, button:active {
  // overrides foundation buttons
  background-color:#FFF !important;
  color: #000 !important;
  border:solid 1px black !important;
  box-shadow: none !important;
  outline:none !important;
}

.instructions {

  text-align:left;
  font-size:11pt;
  line-height: 25px;
}
.instructions .row {
  margin-bottom:5px !important;
}
.instructions-body {

  //margin-left: -40px;
  //margin-right: -40px;
}
.instructions-body table {
  width:100%;
}

.play-table {

  margin-top:15px !important;
}
.remove_line {

  border:solid 1px black;
  background:#fff;
  width: 16px;
  height:16px;
  border-radius: 12px;
  line-height:14px;
  margin-left: 0px;
  margin-top: 6px;
  font-size: 8pt;
  font-weight:bold;
  background: #000 !important;
  color:#fff !important;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  text-indent: 0px !important;
}

.remove_line:hover {
  background: #fff !important;
  color:#000 !important;
}

.remove_line:active {
  background: #000 !important;
  color:#fff !important;
}

button.notready:hover, 
.remove_line.notready:hover, 
.panel-button.notready:hover {

  -webkit-filter: none !important;
  cursor: default !important;
}

.draw-results .row {

  margin-bottom:10px;
  border-bottom: solid 1px black !important;
}
.navigation-modal {

  border:solid 1px black !important;
  height:320px;
  width:320px;
  z-index: 1000;
  position:absolute;
  top:30px;
  left:50%;
  margin-left: -160px;
  background:white !important;
  box-shadow:5px 5px 3px rgba(0,0,0,0.6), -5px 5px 3px rgba(0,0,0,0.6) !important;
  text-align:center;

  .thanks-for-playing {

    margin:20px;
    font-size:20px;

  }

  .remove_line {
    float:right;
    margin-right: -15px;
    margin-top: -15px;
    cursor: pointer;
    height:30px !important;
    width:30px !important;
    border-radius: 20px;
    font-size: 20px;
    line-height: 25px;
  }

}
.navigation-overlay {
  background:#000 !important;
  opacity: 0.6;
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
}

@media only screen and (min-width: 510px) and (max-width: 766px) {

  .game-container {

    margin-top:20px !important;
  }

  .instructions-button {
    display:block;
  }



}

.token-display {

  position:absolute;
  top: -55px;
  right: 5px;
  padding:6px 10px;
}

.token-display:hover {

  -webkit-filter: none !important;
}

.play-examples {
  margin-top: 50px;
  text-align:left;
}

.play-examples .row {
  margin-bottom: 20px;
}

.buy-now-window {
  
  position:absolute;
  bottom:10px;
  width:90%;
  left: 5%;
  border:solid 1px black;
  border-radius: 6px;
  padding-top:10px;

}




@media only screen and (max-width: 510px) {

  .instructions {

    display:none;
    position:absolute !important;
    top:30px;
    left:50%;
    min-height:400px; 
    margin-left:-150px !important;
    width:300px !important;
    background:#fff !important;
    z-index: 1000;
    border:solid 1px black !important;
    padding:20px;
  }

  .section {
    //min-height:160px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 766px) {
  .token-display {
    right: 45px !important;
  }
}


.play-now-container {
  text-align: center
}
.play-now {
  margin:10px auto !important;
}
.please-note {
  color:red !important;
}

.select-three span, .pick-play span, .ticket-ready span {
  display:inline-block;
  font-size: 16px;
}


.ie-ball {
  top:-60px;
  position:absolute;
}


object {
  position: absolute;
  top:0px;
  left:0px;
}

// not to be include in the final product.
// this is just some alternate styles for
// creating hand drawn boxes.

.test_box {
  
  display:none;
  width:100px;
  height:100px;
  margin:10px auto;
  border:solid 1px red !important;
}
.test_box:before {
   content: "";
   display:block;
   z-index: 2;
   height: 110px;
   width: 120px !important;
   position:absolute;
   border-width: 15px;
   -webkit-border-image:url(../images/test_svg.svg) 27;
   margin: -10px;

}

.test_box:after {
   content: "";
   display:block;
   z-index: 2;
   height: 310px;
   width: 320px !important;
   position:absolute;
   border-width: 20px;
   -webkit-border-image:url(../images/test_svg.svg) 27;
   margin: -50px;

}
.win-examples {
  min-width: 400px;
}
.multiplays {

  margin-bottom:15px;
  margin-top:15px;
  text-indent: 15px;
}
.confirm-play {
  margin-top:10px;
}

.white-row {
  background:#fff !important;
}
.gray-row {
  background:#ccc !important;
}
.do_survey {
  border:solid 1px #000;
  padding:8px 15px;
  display:block;
  width:150px;
  margin:10px auto;
  color:#000 !important;
}

.left-column {
  
  padding-bottom:200px !important;
}
.type-option {
  text-indent: 25px;
  line-height:25px;
  cursor:pointer;
}
.type-option .option-inner-1 {
  //border:solid 1px black !important;
  width:100%;
  margin: 0px 0px 0px 20px;
  border-bottom:solid 1px black !important;
  border-right:solid 1px black !important;
  border-left:solid 1px black !important;
}

.type-option:first-child .option-inner-1 {
  border:solid 1px black !important;
  width:100%;
  margin: 0px 0px 0px 20px;
  //border-bottom:solid 1px black !important;
  //border-right:solid 1px black !important;
  //border-left:solid 1px black !important;
}
.type-option .opt2 {
  padding-left:0px !important;
}
.type-option .option-inner-2 {
  //border-top:solid 1px black !important;
  border-bottom:solid 1px black !important;
  border-right:solid 1px black !important;
  width:70%;
  margin: 0px 20px 0px 0px;
  
}
.type-option:first-child .option-inner-2 {
  border-top:solid 1px black !important;
  border-bottom:solid 1px black !important;
  border-right:solid 1px black !important;
  width:70%;
  margin: 0px 20px 0px 0px;
  
}

.type-option:hover .option-inner-2, .type-option:hover .option-inner-1 {
  background:#555;
  color:white;
}
.welcome {
  border:solid 1px black;
  margin: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
}
.welcome h2 {

  text-align:center;
  font-size:20px;

}
.welcome button {
  margin:10px 50px;
}
.welcome div {
  margin:5px 50px;
}